@model LONG.Models.sys_user
@using LONG.Models
@using LONG.Core;
@{
    ViewBag.Title = "Password";
    Layout = "~/Areas/Master/Views/Shared/ActionLayout.cshtml";
}
<script type="text/javascript" language="JavaScript">
var username_empty = "请输入字母+数字组合的用户名，长度不小于5位！";
var oldpassword_empty = "原始密码太短或为空，请重新输入！";
var newpassword_empty = "新输入密码太短或为空，请重新输入！";
var newpassword_error = "您的密码过于简单，容易被别人猜出。建议含英文字母+数字，如“abc123!";
var newpassword_username_error = "请不要使用用户名作密码，容易别人猜出";
var newpassword2_empty = "确认密码太短或为空，请重新输入！";
var newpassword3_error = "两次密码输入不一样，请重新输入";
var iframename = "";
var digheight="370";

$(document).ready(function(){
	var h = parseInt(digheight);
	if(document.getElementById("mainbodybottonauto")){
		$('.managebottonadd').css({height:h-40});
	}
});

function checkpassword() {
	if( mainform.username.value.length<5 ) {
	    parent.basic_alert(username_empty)
		document.mainform.username.focus();
		return false;
	}

	if( mainform.password.value.length<5 ) {
	    parent.basic_alert(newpassword_empty)
		document.mainform.password.focus();
		return false;
	}

	if ( mainform.password.value=="123456" || mainform.password.value=="111111" || mainform.password.value=="aaaaaa" || mainform.password.value=="654321" || mainform.password.value=="abcdef") {
	    parent.basic_alert(newpassword_error)
		document.mainform.password.focus();
		return false;
	}

	if ( mainform.username.value==mainform.password.value ){
	    parent.basic_alert(newpassword_username_error)
		document.mainform.password.focus();
		return false;
	}

	if( mainform.password2.value =="" ) {
	    parent.basic_alert(newpassword2_empty)
		document.mainform.password2.focus();
		return false;
	}
	if( mainform.password2.value != mainform.password.value ) {
	    parent.basic_alert(newpassword3_error)
		document.mainform.password.focus();
		return false;
	}
}

function resetwindow(){
    parent.closeifram();
}
document.oncontextmenu=new Function('event.returnValue=false;');
document.onselectstart=new Function('event.returnValue=false;');
</script>
<form name="mainform" method="post" action="@Url.Action("Password")" onSubmit="return checkpassword()">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="padding-left5 colorgorningage">更改密码后系统会自动退出，请确保您能记住所更改的信息</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtablewin">
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">用户名</td>
						<td width="85%" class="trtitle02">	
                        <input type="hidden" name="usercode" size="20" maxlength="250" value="@ViewBag.usercode" class="smallInput"/>			
						@ViewBag.usercode [最后一次登陆：@ViewBag.lastlogindate &nbsp;登陆IP：@ViewBag.loginip]</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">原始密码</td>
						<td class="trtitle02"><input type="password" name="password1" size="25" maxlength="30" class="infoInput" autocomplete="off" autofocus/>@Html.ValidationMessage("tip")</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">新 密 码</td>
						<td class="trtitle02"><input type="password" name="password" size="25" maxlength="30" class="infoInput"/> <span class="cautiontitle">密码长度为5-14位任何字符，不能与用户名一致！</span></td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">确认密码</td>
						<td class="trtitle02"><input type="password" name="password2" size="25" maxlength="30"  class="infoInput"/> <span class="cautiontitle">请确保密码输入一致！</span></td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">真实姓名</td>
						<td class="trtitle02"><input type="text" name="username" size="23" maxlength="20" class="infoInput" value="@Model.username"/></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr id="bottonsubmit">
				<td id="right"><input type="submit" name="Submit" value="确认修改" class="btn btn-primary mr10" title="确认修改" /></td>
				<td id="left"><input type="reset" name="reset" value="取消修改" onclick="javascript:resetwindow();" class="btn btn-default" title="取消修改" /></td>
			</tr>
		</table>
	</div>
</div>
</form>
