@using LONG.Models
@using LONG.Web
@model LONG.Models.sys_category
@{
    ViewBag.Title = "doAction";
    Layout = "~/Areas/Master/Views/Shared/ActionLayout.cshtml";
}
<script type="text/javascript">

    var resizewindow = null;

    window.onresize = function () {
        var h = $(window).height();
        if (resizewindow != h) {
            sizewindow();
            resizewindow = h;
        }
    }

    function sizewindow() {
        var h = $(window).height();
        if (document.getElementById("mainbodybottonauto")) {
            $('.managebottonadd').css({ height: h - 40 });
        }
    }
    var type_add_upid = "上级分类";
    var js_noselect_empty = "未选择";
    var js_typename_empty = "分类名称不能为空，请输入长度不能大于20的任意字符";
    var js_dirname_empty = "生成文件夹名称为空或输入错误，请输入长度不能小于4和大于20的英文数字或下线划字符";
    var js_template_empty = "请检查模板及文件生成相关属性是否填写或填写正确";
    var js_typeurl_empty = "跳转地址未填写或填写错误，链接地址前请务必加上http://";
    var js_type_shift_typeselect_err = "抱歉！分类选择错误，请确保不要选择同一分类";
    var js_type_edit_ok = "恭喜！分类修改成功！";
    var js_type_edit_no = "抱歉！分类修改失败！";
    var js_isline_empty = "跳转关联分类ID未填写或填写错误，请返回重新填写";
    var js_pagemax_empty = "每页显示数量填写错误，请填写大于0的整数值";
    var iframename = "@ViewBag.iframename";
    $(document).ready(function () {
        editsimpleshow_height("#contents");
        var h = $(window).height();
        $('.managebottonadd').css({ height: h - 40 });
        var options = {
            beforeSubmit: formverify,
            success: saveResponse
        }
        $('#typeedit').submit(function () {
            $(this).ajaxSubmit(options);
            return false;
        });
        parent.scrolclear();
    })

    function formverify(formData) {
        for (var i = 0; i < formData.length; i++) {
            if (formData[i].name == "contents") {
                formData[i].value = tinyMCE.get('contents').getContent();
            }
        }
        var queryString = $.param(formData);
        var get = urlarray(queryString);
        if (get['title'] == '') {
            document.typeedit.title.focus();
            parent.basic_alert(js_typename_empty);
            return false;
        }

        //parent.windowsdig('Loading', 'iframe:@Url.Action("Loading","Common")', '400px', '180px', 'iframe', false);
    }
    function saveResponse(options) {
        //parent.closeifram();
        if (options == true) {
            parent.frames[iframename].refresh('selectform', 'selectall', 'check_all');
            parent.success_alert(js_type_edit_ok);
        } else {
            parent.error_alert(js_type_edit_no);
        }
        parent.onaletdoc();
    }
</script>
<form name="typeedit" id="typeedit" method="post" action="@ViewBag.actionURL">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="colorgorningage">请在以下窗口中输入要添加的分类属性</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">					
                    <tr class="trstyle2">
						<td width="15%" class="trtitle01">上级分类</td>
						<td width="85%" class="trtitle02">
							<div class="col-xs-2 pl0">
                                <select id="parentid" name="parentid" size="1" class="form-control">
                                    <option value="0">请选择关联分类</option>
                                    @(new MvcHtmlString(new sys_categoryService().OptionList(0, Model.parentid == null ? 0 : Model.parentid, false)))
                                </select>
                            </div>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle011">名称</td>
						<td width="85%" class="trtitle02">
							<input type="text" name="title" value="@Model.title" size="60" maxlength="100" class="infoInput"/>
							<span class="cautiontitle">请输入长度不能大于80的任意字符</span>
						</td>
					</tr>
                    <tr class="trstyle2">
						<td class="trtitle01">系统设置</td>
						<td style="line-height: 200%" class="trtitle02">
                            <input type="checkbox" name="issys" value="true"@(ViewBag.act == "add" || Model.issys == true ? " checked=checked" : "")> 是&nbsp;					
                        </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="right"><input type="submit" id="typeaddsubmitbotton" name="Submit" value="保存" class="btn btn-primary mr10" /></td>
				<td id="left"><input type="button" name="cancel" onclick="javascript: closewindow();" value="取消" class="btn btn-default" /></td>
			</tr>
		</table>
	</div>
</div>
</form>