@using LONG.Models
@{
    ViewBag.Title = "ByCategoryContent";
    Layout = "~/Areas/Master/Views/Shared/ActionLayout.cshtml";
}
<script type="text/javascript">

    var resizewindow = null;

    window.onresize = function () {
        var h = $(window).height();
        if (resizewindow != h) {
            sizewindow();
            resizewindow = h;
        }
    }

    function sizewindow() {
        var h = $(window).height();
        if (document.getElementById("mainbodybottonauto")) {
            $('.managebottonadd').css({ height: h - 40 });
        }
    }
    var createmain_js_mid_empty = "模型未选择，请选择要生成的模型！";
    var createmain_js_pnumber_empty = "生成最大页数填写错误，请填写大于0的整数数值！";
    var createmain_js_tid_empty = "当前生成需要指定分类，请选择要生成的分类！";
    var createmain_js_add_ok = "恭喜！生成成功！";
    var createmain_js_add_no = "抱歉！生成失败！";
    var iframename = "";
    $(document).ready(function () {
        var h = $(window).height();
        $('.managebottonadd').css({ height: h - 40 });
        var optionstype = {

            beforeSubmit: formverify_type,
            success: saveResponse
        }
        $("#creattype").submit(function () {
            $(this).ajaxSubmit(optionstype);
            return false;
        });
    })

    function formverify_type(formData, jqForm, options) {
        var queryString = $.param(formData);
        var get = urlarray(queryString);
        if (get['modelid'] == 0) {
            document.creattype.modelid.focus();
            alert(createmain_js_mid_empty);
            return false;
        }
        if (get['pnumber'].match(/^[1-9]{1}[0-9]*$/ig) == null) {
            document.creattype.pnumber.focus();
            alert(createmain_js_pnumber_empty);
            return false;
        }
        if (get['creattype'] == 0) {
            if (get['category'] == 0) {
                document.creattype.tid.focus();
                alert(createmain_js_tid_empty);
                return false;
            }
        }
        var loadurl = '@Url.Action("CreateCategory","Common")?modelid=' + get['modelid'] + '&categorylist=' + $('#category').val() + '&creattype=' + get['creattype'] + '&pnumber=' + get['pnumber'];
		parent.windowsdig('Loading', 'iframe:' + loadurl, '750px', '400px', 'iframe', false);
		return false;
    }
    function saveResponse(options) {
        parent.closeifram();
        if (options == 'true') {
            alert(createmain_js_add_ok);
        } else {
            alert(createmain_js_add_no);
        }
        parent.onaletdoc()
    }

    function searchoption(modelid) {
        //var lng=document.creattype.lng.value;
        //lng = (lng=='big5') ? 'cn' : lng;
        selectmodel('category', '@Url.Action("OptionList", "ModelCategory")?modelid=' + modelid + '&ishtml=true');
	}

</script>
<form method="post" name="creattype" id="creattype" action="@Url.Action("CreateCategory")">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="colorgorningage">请在以下窗口中选持要生成的分类属性</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2 displaynone">
						<td class="trtitle01">语言</td>
						<td class="trtitle02">
                            <select size="1" name="lng" id="lng" disabled>
                                <option selected value="cn">简体中文版</option>
                                <option  value="big5">繁体中文版</option>
                                <option  value="en">English</option>
                            </select>
                        </td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">所属模型</td>
						<td class="trtitle02">
							<select size="1" name="modelid" id="midbotton" onchange="javascript:searchoption(this.value)">
								<option value="0">请选择要生成的模型</option>
                                @{
                                    IEnumerable<sys_model> mlist = new sys_modelService().List(false); 
                                    foreach (var l in mlist)
                                    {
                                    <option value="@l.id">@l.title</option>
                                    }
                                }
                            </select>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">生成所属分类</td>
						<td class="trtitle02">
							<select size="8" name="category" id="category" multiple="multiple">
                                <optgroup label="请选择所属副分类（按Ctrl+左键可进行多选）">
								<option value="0">全部</option>
                                </optgroup>
							</select>
						</td>
					</tr>
					<tr class="trstyle2 displaynone">
						<td width="15%" class="trtitle01">分类生成方式</td>
						<td width="85%" class="trtitle02">
							<input type="radio" value="0" name="creattype" checked="checked"/> 只生成指定分类&nbsp;
							<input type="radio" value="1" name="creattype"/> 生成下级子分类
                            <span class="cautiontitle">如更新下级子分类，则该分类所有子分类会一起进行生成！</span>
						</td>
					</tr>
					<tr class="trstyle2 displaynone">
						<td class="trtitle01">生成最大页数</td>
						<td class="trtitle02">
							<input type="text" name="pnumber" size="5" maxlength="4" value="30" class="infoInput"/>
							<span class="cautiontitle">请填写整数数值，数值越大生成速度越慢！</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td><input type="submit" name="Submit" value="确认生成" class="buttonface" /></td>
			</tr>
		</table>
	</div>
</div>
</form>