@using LONG.Models
@{
    ViewBag.Title = "BySubjectContent";
    Layout = "~/Areas/Master/Views/Shared/ActionLayout.cshtml";
}
<script type="text/javascript">

    var resizewindow = null;

    window.onresize = function () {
        var h = $(window).height();
        if (resizewindow != h) {
            sizewindow();
            resizewindow = h;
        }
    }

    function sizewindow() {
        var h = $(window).height();
        if (document.getElementById("mainbodybottonauto")) {
            $('.managebottonadd').css({ height: h - 40 });
        }
    }
    var createmain_js_mid_empty = "模型未选择，请选择要生成的模型！";
    var iframename = "";
    $(document).ready(function () {
        var h = $(window).height();
        $('.managebottonadd').css({ height: h - 40 });
        var optionstype_sub = {
            beforeSubmit: formverify_sub,
            success: saveResponse
        }
        $("#creatsubject").submit(function () {
            $(this).ajaxSubmit(optionstype_sub);
            return false;
        });
    })
    function formverify_sub(formData, jqForm, options) {
        var queryString = $.param(formData);
        var get = urlarray(queryString);
        if (get['modelid'] == 0) {
            document.creatsubject.modelid.focus();
            alert(createmain_js_mid_empty);
            return false;
        }
        var loadurl = '@Url.Action("CreateCategory","Common")?modelid=' + get['modelid'] + '&categorylist=' + $('#category').val() + '&creattype=0&pnumber=30';
		parent.windowsdig('Loading', 'iframe:' + loadurl, '750px', '400px', 'iframe', false);
		return false;
    }
    function saveResponse(options) {
        parent.closeifram();
        if (options == true) {
            alert(createmain_js_add_ok);
        } else {
            alert(createmain_js_add_no);
        }
        parent.onaletdoc()
    }
    function sub_searchoption(modelid) {
        selectmodel('category', '@Url.Action("OptionList", "Subjects")?modelid=' + modelid + '&issubject=1&ishtml=true');
	}
</script>
<form method="post" name="creatsubject" id="creatsubject" action="@Url.Action("CreateCategory")">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="colorgorningage">请在以下窗口中选持要生成的专题属性</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">
					<tr class="trstyle2 displaynone">
						<td class="trtitle01">语言</td>
						<td class="trtitle02">
                            <select size="1" name="lng" id="lng_sub" onchange="javascript:lngsubject(this.value);">
                                <option selected value="cn">简体中文版</option>
                                <option  value="big5">繁体中文版</option>
                                <option  value="en">English</option>
                            </select>
                        </td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">所属模型</td>
						<td class="trtitle02">
							<select size="1" name="modelid" id="sub_midbotton" onchange="javascript:sub_searchoption(this.value)">
								<option value="0">请选择要生成的模型</option>
								@{
                                    IEnumerable<sys_model> mlist = new sys_modelService().SubjectList(); //非单页面
                                    foreach (var l in mlist)
                                    {
                                    <option value="@l.id">@l.title</option>
                                    }
                                 }
                            </select>
						</td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">指定生成专题</td>
						<td class="trtitle02">
							<select size="8" name="category" id="category" multiple="multiple">
                                <optgroup label="请选择所属副分类（按Ctrl+左键可进行多选）">
								<option value="0">全部</option>
                                </optgroup>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td><input type="submit" name="Submit" value="确认生成" class="buttonface" /></td>
			</tr>
		</table>
	</div>
</div>
</form>