@using LONG.Models
@using LONG.Web
@model LONG.Models.tags
@{
    ViewBag.Title = "doAction";
    Layout = "~/Areas/Master/Views/Shared/ActionLayout.cshtml";
}
<script type="text/javascript">

    var resizewindow = null;

    window.onresize = function () {
        var h = $(window).height();
        if (resizewindow != h) {
            sizewindow();
            resizewindow = h;
        }
    }

    function sizewindow() {
        var h = $(window).height();
        if (document.getElementById("mainbodybottonauto")) {
            $('.managebottonadd').css({ height: h - 40 });
        }
    }
    var js_keytypename_empty = "标签名称填写错误或为空，请返回重新填写";
    var js_contents_empty = "内容填写错误或为空，请返回重新填写";
    var js_add_ok = "恭喜！标签添加成功！";
    var js_add_no = "抱歉！标签添加失败！";
    var iframename = "@ViewBag.iframename";
    iframename = iframename == '' ? "jerichotabiframe_0" : iframename;
    $(document).ready(function () {
        var h = $(window).height();
        editsimpleshow_height("#contents");
        $('.managebottonadd').css({ height: h - 40 });
        var options = {
            beforeSubmit: formverify,
            success: saveResponse,
            resetForm: true
        }
        $('#keylinktypeadd').submit(function () {
            $(this).ajaxSubmit(options);
            return false;
        });
        parent.scrolclear();
    })
    
    function formverify(formData) {
        for (var i = 0; i < formData.length; i++) {
            if (formData[i].name == "contents") {
                formData[i].value = tinyMCE.get('contents').getContent();
            }
        }
        var queryString = $.param(formData);
        var get = urlarray(queryString);
        if (get['title'] == "") {
            document.keylinktypeadd.title.focus();
            parent.basic_alert(js_keytypename_empty);
            return false;
        }
        if (get['contents'] == "") {
            document.keylinktypeadd.contents.focus();
            parent.basic_alert(js_contents_empty);
            return false;
        }
        //parent.windowsdig('Loading', 'iframe:@Url.Action("Loading","Common")', '400px', '180px', 'iframe', false);
    }
    function saveResponse(options) {
        //parent.closeifram();
        if (options == true) {
            parent.frames[iframename].refresh('selectform', 'selectall', 'check_all');
            parent.success_alert(js_add_ok);
        } else {
            parent.error_alert(js_add_no);
        }
        parent.onaletdoc()
    }
</script>
<form name="keylinktypeadd" id="keylinktypeadd" method="post" action="@ViewBag.actionURL">
<div id="mainbodybottonauto" class="managebottonadd">
	<div class="maindobycontent">
		<!--查看已选择的类型-->
		<div class="suggestion">
			<span class="sugicon"><span class="strong colorgorning2">当前操作提示：</span><span class="colorgorningage">请在以下窗口中填写的标签属性</span></span>
		</div>
		<div class="manageeditdiv">
			<div class="maneditcontent">
				<table class="formtable">					
					<tr class="trstyle2">
						<td width="15%" class="trtitle01">标签名称</td>
						<td width="85%" class="trtitle02"><input type="text" name="title" value="@Model.title" size="60" maxlength="100" class="infoInput"/> <span class="cautiontitle">请输入长度不大于50个字符的任意关键字</span></td>
					</tr>
					<tr class="trstyle3">
						<td width="15%" class="trtitle01">标签说明</td>
						<td width="85%" class="trtitle02">
                            <textarea name="intro" id="intro" class="form-control">@Model.intro</textarea>
						</td>
					</tr>					
					<tr class="trstyle3">
						<td width="15%" class="trtitle01">内容</td>
						<td width="85%" class="trtitle02">
							<textarea name="contents" id="contents" cols="50" class="form-control" >@Model.contents</textarea>
						</td>
					</tr>
					<tr class="trstyle2">
						<td width="15%" class="trtitle01"></td>
						<td width="85%" class="trtitle02"><span class="cautiontitle">请在熟悉html代码的前提下进行编辑</span></td>
					</tr>
					<tr class="trstyle2">
						<td class="trtitle01">是否启用</td>
						<td class="trtitle02">
							<input type="checkbox" name="isenable" value="true"@(Model.isenable == true || ViewBag.act == "add" ? " checked=checked" : "")> 启用
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="downbotton">
	<div id="subbotton">
		<table border="0" width="100%">
			<tr>
				<td id="right"><input type="submit" id="docaddsubmitbotton" name="Submit" value="保存" class="btn btn-primary mr10" /></td>
				<td id="left" class="padding-left5"><input type="button" name="cancel" onclick="javascript: closewindow();" value="取消" class="btn btn-default" /></td>
			</tr>
		</table>
	</div>
</div>
</form>