@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Master/Views/Shared/FileManageLayout.cshtml";
}
<script type="text/javascript" language="JavaScript">
	var mangerlist_filecheck_js_filedirok = "文件夹正常";
	var mangerlist_filecheck_js_filedirno = "无可写权限，请检查文件夹权限是否可写或该文件夹是否存在";
	var iframename = "@ViewBag.iframename";
    var checkfrom = "@ViewBag.checkfrom";
    var getbyid = "@ViewBag.getbyid";
    var editiframename = "@ViewBag.editiframename";
	var fileinputid = "@ViewBag.fileinputid";
	var digheight="450";
	var rootDIR="";
	var picview = "/Master/FileManage/PicList?maxselect=@ViewBag.maxselect&filetype=@ViewBag.filetype";
    var fileview = "/Master/FileManage/FileList?maxselect=@ViewBag.maxselect&filetype=@ViewBag.filetype";
	$(document).ready(function () {
		var h = parseInt(digheight);
		var w = $(window).width();
		$('#mainwindowstr').css({height:h-25,width: w});
		$('.upfilewindow').css({height:h-35});
	})

	function resetwindow(){
		parent.closeifram();
	}

	function fnUpdate(){
		$("#floatBoxBg").hide();
		$("#floatBox").hide();
	}

	function refile(filename, iswidth) {
		if (checkfrom=='edit'){
			checkimageinput(filename, fileinputid);
		}else if(checkfrom=='input'){
			checkinput(filename,fileinputid);
		}else if(checkfrom=='function'){
			functionpic(filename,fileinputid,getbyid,iswidth);
		}else if(checkfrom=='picshow'){
			picshow(filename,fileinputid,getbyid,iswidth);
		} else if (checkfrom == 'editwin') {
			checkimageeditor(filename,fileinputid);
		}
	}

	function checkimageeditor(filename,inputnameID){
		//var win = slef.parent.frames[iframename].frames[editiframename];
	    if ($.browser.msie) {
	        var win = parent.frames[iframename].frames[editiframename];
	    } else {
	        var win = parent.frames[iframename].frames[1];
	    }
		filename=rootDIR+filename;
		win.document.getElementById(inputnameID).value = filename;


		if (typeof(win.ImageDialog) != "undefined") {
			if (win.ImageDialog.getImageData) win.ImageDialog.getImageData();
			if (win.ImageDialog.showPreviewImage) win.ImageDialog.showPreviewImage(filename);
		}
		parent.closeifram();
	}

	function checkimageinput(filename,inputnameID){


		if ($.browser.msie){
			var win = parent.frames[iframename].frames[editiframename];
		}else{
			var win = parent.frames[iframename].frames[1];
		}

		var filenames = filename.split('|');
		var src_tex='';
		for (var i = 0; i < filenames.length; i++){
			src_tex+='<img src="'+rootDIR+filenames[i]+'" alt="" />';
		}
		parent.frames[iframename].tinyMCE.execCommand('mceInsertContent',false,src_tex);
		parent.closeifram();
		parent.closeifram();
	}

	function checkinput(filename,inputnameID){
		parent.frames[iframename].document.getElementById(inputnameID).value = filename;
		parent.closeifram();
	}

	function picshow(filename,inputnameID,getbyid,iswidth){
		parent.frames[iframename].document.getElementById(inputnameID).value = filename;
		parent.frames[iframename].addpicshow(filename,getbyid,iswidth,inputnameID,fileinputid);
		parent.closeifram();
	}

	function functionpic(filename, inputnameID, getbyid, iswidth) {
		parent.frames[iframename].addpicipnput(filename,inputnameID,getbyid,iswidth,iframename);
		parent.closeifram();
	}

	function selectfile(){
		var filename=$('.pp_description').html();
		var fileinputid="typepic";
		if (checkfrom=='edit'){
			checkimageinput(filename);
		}else if(checkfrom=='input'){
			checkinput(filename,fileinputid);
		}else if(checkfrom=='function'){
			functionpic(filename,fileinputid);
		}
	}
	function flushiframe(getid){
		var url = (getid=='piclist') ? picview : fileview;
		document.getElementById(getid).src = url;
	}
	document.oncontextmenu=new Function('event.returnValue=false;');
	document.onselectstart=new Function('event.returnValue=false;');
</script>
<div class="centerrightwindow"  style="background-color: #FFFFFF">
	<div id="mainwindowtab">
		<ul>
			<li class="hover" id="tabbottonul1" href="#body" onmousedown="javascript:windowsclass('#tabbottonul1','#tabcontentdiv1','tabbottonul','tabcontentdiv',1,4,'hover','hover2');">上传文件</li>
			<li id="tabbottonul2" href="#body" onmousedown="javascript:windowsclass('#tabbottonul2','#tabcontentdiv2','tabbottonul','tabcontentdiv',2,4,'hover','hover2');">批量上传</li>
			@{
            if (ViewBag.filetype == "img")
            {
                <li id="tabbottonul3" href="#body" onmousedown="javascript:windowsclass('#tabbottonul3','#tabcontentdiv3','tabbottonul','tabcontentdiv',3,4,'hover','hover2');flushiframe('piclist');">相册浏览模式</li>
            }
            }
			<li id="tabbottonul4" href="#body" onmousedown="javascript:windowsclass('#tabbottonul4','#tabcontentdiv4','tabbottonul','tabcontentdiv',4,4,'hover','hover2');flushiframe('filelist');">文件夹浏览模式</li>
		</ul>
	</div>
	<div id="mainwindowstr">
		<div id="tabcontentdiv1" class="displaytrue"><iframe name="upfilewindow" class="upfilewindow" src="@Url.Action("Upload",new { filetype = ViewBag.filetype})" width="100%" height="405" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
		<div id="tabcontentdiv2" class="displaynone"><iframe name="upbatfilewindow" class="upfilewindow" src="@Url.Action("BUpload",new { filetype = ViewBag.filetype})" width="100%" height="405" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        @{
            if (ViewBag.filetype == "img")
            {
            <div id="tabcontentdiv3" class="displaynone"><iframe name="piclist" id="piclist" class="upfilewindow" src="#" width="100%" height="405" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
            }    
        }
		<div id="tabcontentdiv4" class="displaynone"><iframe name="filelist" id="filelist" class="upfilewindow" src="#" width="100%" height="405" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
	</div>
</div>