@model LONG.Models.sys_keylink_type
@using LONG.Models
@{
    ViewBag.Title = "全网优化词分组管理";
    Layout = "~/Areas/Master/Views/Shared/CommonLeftLayout.cshtml";
}
<div class="centerleft" id="centerleft">
<div class="modeltitle"><i class="fa fa-navicon"></i> 按所属模型查看</div>
<div class="scrolltext">
	<div class="srcolcontent" id="modelleftcontent">
		<ul>
            @{
                IEnumerable<sys_model> list = new sys_modelService().List();
                foreach (var m in list)
                {
                    if(ViewBag.modelid != null && ViewBag.modelid == m.id)
                    {
                        <li><i class="fa fa-angle-right"></i><a href="@Url.Action("Index", new { modelid = m.id })" title="@m.title"><b>@m.title</b></a></li>
                    }else{
                        <li><i class="fa fa-angle-right"></i><a href="@Url.Action("Index", new { modelid = m.id })" title="@m.title">@m.title</a></li>
                    }                    
                }    
            }		    
        </ul>
	</div>
</div>
</div>
<div class="splitline" id="centerhidden">
	<div class="lefthidden bottonlefthover" id="lefthidden"></div>
</div>